{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PRUEBA</title>
     <!-- Bootstrap Core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href='{% static "font-awesome/css/font-awesome.min.css" %}' rel="stylesheet" type="text/css">
    <!-- sweet alert -->
    <link href='{% static "css/sweetalert.css" %}' rel="stylesheet">

</head>
<body>
<p align="center">
REPÚBLICA BOLIVARIANA DE VENEZUELA<br>
MINISTERIO DEL PODER POPULAR PARA LA EDUCACIÓN UNIVERSITARIA, CIENCIA Y TECNOLOGÍA<br>
UNIVERSIDAD POLITÉCNICA TERRITORIAL DE PARIA<br>
“LUIS MARIANO RIVERA”<br>
P.N.F: INGENIERÍA EN INFORMÁTICA
</p>
<br>
<a style="margin-left: 45%; margin-right: 45%;"><img width="150" height="75" src="{% static 'imagenes/logo3.png' %}"></a>
                <div style="margin-left: 10%">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><table style="width: 100%"><tr><td><i class="fa fa-fw fa-list"></i>Examen</td><td align="right"><a href='javascript:window.print(); void 0;'><i class="fa fa-2x fa-print"></i></a></td></tr></table> </h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
											{% if obj_pru and obj_pre %}
											<table style="width: 100%">
													<tr>
														<td align="center" colspan="2"><h2><mark>{{ obj_pru.titulo }}</mark></h2></td>
													</tr><tr>
														<td align="left"><h4><b>Profesor:</b> {{ obj_pru.ci_p.first_name }} {{ obj_pru.ci_p.last_name }}</h4></td>
														<td align="right"><h4><b>Sección:</b>{{ obj_pru.seccion }}</h4></td>
													</tr><tr>
														<td align="left"><h4><b>Fecha Creacion:</b>{{ obj_pru.fecha }}</h4></td> 
														<td align="right"><h4><b>Ponderacion:</b>{{ obj_pru.valor }}</h4></td>
													</tr>
													<tr>
														<td colspan="2" align="center" ><h3>Preguntas de Seleccion Simple:</h3></td>
													</tr>
											</table>
											{% for preguntas in obj_pre %}
											<table style="width: 100%">
													<tr>
														<td colspan="4" align="right">ponderacion:{{ preguntas.ponderacion }}</td>
													</tr>
													<tr>
														<td colspan="4" style="padding-top: 5px">¿{{ preguntas.pregunta }}?</td>
													</tr>
													<tr>
														<td colspan="4" style="padding-top: 5px">R1: {{ preguntas.r1 }}</td>
													</tr>
													<tr>
														<td colspan="4" style="padding-top: 5px">R2: {{ preguntas.r2 }}</td>
													</tr>
													<tr>
														<td colspan="4" style="padding-top: 5px">R3: {{ preguntas.r3 }}</td> 
													</tr>

													<tr>
														<td colspan="4" style="padding-top: 5px">R4: {{ preguntas.r4 }}</td>
													</tr>
											</table>
											{% endfor %}
											{% else %}
												<h1 style="color:black">No existen preguntas cargadas para la Prueba seleccionada debe cargar algunas</h1>
											{% endif %}

									<div class="col-lg-12">
									<table align="right">
										<tr><td><a class="btn btn-danger"  href="{% url 'home' %}"><i class="fa fa-fw fa-sign-out 4x"></i> Salir</a></td></tr>
									</table>
									</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div> 

    <!-- jQuery -->
    <script type="text/javascript" src='{% static "js/jquery.js" %}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src='{% static "js/bootstrap.min.js" %}'></script>

    <!-- archivo de funciones -->
    <script src='{% static "js/functions.js" %}'></script>
</body>
</html>